:root {
    --primary-color: rgb(7, 12, 17);
    --secondary-color: rgba(3, 6, 8, 0.8);
    --background-color: rgb(7, 12, 17);
    --text-color: #f1f1f1;
    --text-light: #c0c0c0d0;
    --border-color: #002b91;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    overflow-x: hidden;
}

html {
    color: var(--text-color);
    font-family: "Rubik", sans-serif;
}

section {
    padding: 5rem 10% 0 10%;
}

h1,
h2,
h3 {
    line-height: 1.2;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.2rem;
    display: inline-block;
    margin-bottom: 2rem;
}

.wrapper {
    padding: 0px;
}

/*NAVBAR*/
.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px 0px 0px;
    background-color: rgba(3, 6, 8, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.sidenav a {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    padding: 0px 10px 5px;
    color: var(--text-light);
}

.sidenav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: var(--text-color);
    transition: all 0.3s ease;
}

.sidenav a:hover::after {
    width: 100%;
}

.icon {
    margin-left: 30px;
    margin-top: 20px;
    visibility: hidden;
    position: relative;
}

.sidenav .active {
    color: var(--text-color);
}

nav {
    margin: 5px;
}

.mode-selector {
    display: flex;
    float: right;
    margin-left: 70px;
}

.selector-btn {
    padding: 7px 10px 7px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 1rem;
    font-family: "Rubik", sans-serif;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--text-color);
}

.active2 {
    background-color: var(--border-color);
}

.active2:hover {
    background-color: var(--border-color);
}

/*PRINCIPAL*/
#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    margin-top: -60px;
    padding-left: 10px;
    color: var(--text-color);
}

#title span {
    background: -webkit-linear-gradient(white, #adc1d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 10px;
    font-family: "Rubik", sans-serif;
}

#description {
    color: var(--text-light);
    letter-spacing: 5px;
    font-weight: 400;
}

/*ME*/
.apresentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 0 10%;
}

.apresentation h2 {
    color: var(--text-light);
    font-size: 20px;
    font-weight: 400;
}

.nav2 a {
    display: inline-block;
    margin: 20px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
}

.nav2 a:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.493);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

/*BUTON*/
.secondary {
    background-color: transparent;
    color: var(--text-light);
    border: 2px solid var(--text-light);
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    font-weight: 500;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn h4 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--text-light);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.secondary:hover {
    background-color: var(--text-color);
    color: var(--background-color);
    transform: translateY(-3px);
}

/*INFORMATIONS*/
.aboutme {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

#text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

/*Language*/

.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
}

.language-item {
    background-color: var(--background-color);
    border: 1px solid var(--text-light);
    border-radius: 8px;
    padding: 24px;
    transition: all 0.3s;
}

.language-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    border-color: var(--border-color);
}

.language-name {
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--text-color);
    font-size: 1.125rem;
}

.language-level {
    color: var(--text-light);
}

/*SKILLS*/
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.column1,
.column2 {
    width: 50%;
}

.bar {
    background-color: #ffffff9c;
    border-radius: 30px;
    height: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.exp {
    background-color: var(--border-color);
    border-radius: 30px;
    height: 10px;
    width: 0%;
}

.english.visible,
.teamwork.visible {
    animation: good 2s ease-in-out forwards;
}

.html.visible,
.office.visible {
    animation: medium 2s ease-in-out forwards;
}

.js.visible {
    animation: js 2s ease-in-out forwards;
    animation-range-start: 0.5s;
}

.skills h3 {
    font-size: 20px;
}

/*Contributions*/
.contributions-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 20px 180px 0px 180px;
    border: 1px solid var(--text-light);
    border-radius: 6px;
    gap: 15px;
}

.contributions-image {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    overflow-x: scroll;
}

.subtitle {
    font-size: 12px;
    color: var(--text-light);
    align-items: end;
}

.square {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border: 1px solid var(--background-color);
    border-radius: 30%;
}

::-webkit-scrollbar {
    width: 10px;
}

.contributions-image::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--background-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--text-light);
}

/*ICONS*/
.icons {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

/*Repositories*/
.project {
    border: 1px solid var(--text-light);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin: 20px;
    padding: 20px;
    gap: 30px;
}

.project .content {
    display: flex;
    justify-content: space-between;
}

.data2 {
    color: var(--text-light);
    border: 1px solid var(--text-light);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.9rem;
}

.title {
    color: #47a6f0;
}

.program {
    color: var(--text-light);
    margin-top: 10px;
}

.program .circle {
    background-color: #002b91;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border: 1px solid var(--background-color);
    border-radius: 50%;
}

.content a {
    color: #003cff;
    text-decoration: underline;
}

/*FOOTER*/
.end {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 100px;
}


/*STARS CONFIGURATION*/
canvas {
    display: block;
}

/*Dark and Light mode*/
body.light-mode {
    --background-color: var(--text-light);
}

html.light-mode,
.sidenav a.light-mode,
.nav2 a.light-mode,
h2.light-mode,
.program.light-mode,
.data2.light-mode,
.language-name.light-mode,
.language-level.light-mode,
i.light-mode,
.subtitle.light-mode,
.secondary.light-mode {
    color: var(--primary-color);
}

.sidenav.light-mode {
    background-color: #f1f1f1;
}

.contributions-content.light-mode,
.project.light-mode,
.secondary.light-mode {
    border: 1px solid var(--primary-color);
}

/*ANIMATIONS*/
@keyframes good {
    from {
        width: 0%;
    }

    to {
        width: 90%;
    }
}

@keyframes medium {
    from {
        width: 0%;
    }

    to {
        width: 70%;
    }
}

@keyframes js {
    from {
        width: 0%;
    }

    to {
        width: 40%;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .apresentation {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        padding-top: 2rem;
    }

    .btn {
        justify-content: center;
    }

    .sidenav {
        height: 100%;
        width: 0%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--background-color);
        overflow-x: hidden;
        transition: 0.5s;
        align-items: baseline;
        justify-content: left;
        z-index: 1;
    }

    .sidenav a {
        font-size: 18px;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #818181;
        display: block;
        transition: 0.3s;
        float: none;
        text-align: left;
    }

    .sidenav a:hover {
        color: var(--text-color);
    }

    .sidenav a:hover::after {
        width: 0%;
    }

    .icon {
        visibility: visible;
    }

    .nav2 a {
        margin: 0;
        padding: 22px 10px;
        display: block;
    }

    .hr {
        visibility: hidden;
    }

    .language-selector {
        margin-bottom: 15px;
    }

    .project {
        margin: 20px 0;
        padding: 15px;
    }

    .content a {
        font-size: 0.9rem;
    }

    .contributions-content {
        margin: 0;
        justify-content: start;
    }

    .row {
        flex-direction: column;
    }

    .column1,
    .column2 {
        width: 100%;
    }
}